@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500;600&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1d1f24;
  user-select: none;
  text-decoration: none;
}

#container {
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  position: relative;
}
/* logo */
.logo_container {
  margin: 0 38px;
  width: 60px;
  height: 30px;
}
.logos {
  font-family: Lato, sans-serif;
  display: inline;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.369px;
  position: relative;
  width: 55px;
  transition: all 0.15s;
}
.logos:hover {
  color: #ddd;
}
.logos::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 5px;
  right: -6px;
  background-color: #ff565c;
}

/* nav */
.nav_container a {
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  opacity: 0.2;
  color: #1d1f24;
  transition: all 0.2s;
  position: relative;
}
.nav_container a:after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #333;
}
.nav_container a:hover {
  opacity: 0.9;
}
.nav_container a:hover::after {
  width: 100%;
}

/* navBtn */
#navBtn {
  position: absolute;
  right: 0;

  border: none;
  background-color: transparent;
  width: auto;
  height: 16px;
  cursor: pointer;
  margin-right: 44px;
}
#navBtn > svg #hamburgerBtn {
  transition: 0.2s all;
  opacity: 1;
  fill: "#1D1F24";
}
#navBtn > svg:hover #hamburgerBtn {
  opacity: 0.7;
}

/* main */
main {
  padding-top: 40px;
  background-color: #f9fafc;
}

/* slide section */
.slide_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
#mainSlide {
  /* width: 1012px;  */
  height: 581px;
  background-color: #807474;
  position: relative;
}

.slide_img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* article chat & reply icons layout */
.icon_wrap {
  position: absolute;
  bottom: 20px;

  display: inline-flex;
  gap: 16px;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
}
.icon_wrap p {
  display: inline-flex;
  gap: 10px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.slide_icon_wrap {
  left: 50%;
  transform: translateX(-50%);
}
.a_icon_wrap {
  left: 28px;
}
/* slide img & contents  */
.contents {
  text-align: center;
}
.contents h3,
.contents h2 {
  color: #fff;
}
.slide_title {
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 153.125%;
  letter-spacing: -0.471px;
  color: white;
}
/* UI  */
/* categories UI */
.categories {
  display: inline-block;
  background-color: #ff565c;
  padding: 10px 25px;
  font-family: Oswald;
  font-size: 14px;
  letter-spacing: 1.75px;
  height: 40px;
  text-transform: uppercase;
  color: white;
}
/* categories layout */
.slide_categories {
  position: absolute;
  top: 153px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* slide_arrow UI */
.slide_arrow {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: #1d1f24;
}
/* slide_title UI */
.slide_title {
  margin-top: 40px;
  text-transform: uppercase;
}
.subtitle {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.slide_subtitle {
  line-height: 1.44;
  text-align: center;
  opacity: 0.7;
}
.left_arrow {
  margin-right: 50px;
}
.right_arrow {
  margin-left: 50px;
}

.article_title {
  font-family: Lato;
  color: #fff;

  font-size: 24px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.2px;
}

/* article UI */
.a_subtitle {
  line-height: 1.66;
}

/* readmore btn UI*/

#readMore {
  margin-top: 30px;
  border: none;
  outline: none;
  background-color: #ff565c;
  width: 210px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s;
}
#readMore:hover {
  background-color: #fff;
}
#readMore:hover p {
  color: #ff565c;
}
#readMore p {
  font-family: Oswald;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* footer  */
.f_logo > h2 {
  color: #494b4f;
  margin-bottom: 6px;
}
.f_logo > h2:after {
  opacity: 1 !important;
}
.copy {
  margin-top: 6px;
}
.copy > p {
  opacity: 0.7;
  font-size: 14px;
  font-family: Lato;
  color: #fff;
  font-weight: 400;
  line-height: 1.28;
}
.f_nav {
  text-transform: uppercase;
  gap: 111px;
}

#fContainer {
  background-color: #1d1f24;
}
#fContainer p {
  color: #ebebeb;
}
.f_nav a {
  color: #fff;
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 1.75;
  font-size: 14px;
}
