/* PC main grid */

#mainWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "SLIDE SLIDE SLIDE A"
    "SLIDE SLIDE SLIDE B"
    "C D D B"
    "C E F G";
  gap: 32px;
}

#mainSlide {
  grid-area: SLIDE;
}
#mainGridA {
  grid-area: A;
  background-color: orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a_categories {
  position: absolute;
  top: 30px;
  left: 0;
}
#mainGridB {
  grid-area: B;
  background-color: orange;
}
#mainGridC {
  grid-area: C;
}
#mainGridD {
  grid-area: D;
}
#mainGridE {
  grid-area: E;
  background-color: orange;
}
#mainGridF {
  grid-area: F;
  background-color: orange;
}
#mainGridG {
  grid-area: G;
  background-color: orange;
}
