/* PC main grid */
#mainWrap {
  margin-left: 40px;
  margin-right: 45px;
}
#mainWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "SLIDE SLIDE SLIDE A"
    "SLIDE SLIDE SLIDE B"
    "C D D B"
    "C E F G";
  gap: 32px;
}
.nav_container {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 59px;
}
#mainSlide {
  grid-area: SLIDE;
}
.slide_arrow {
  display: flex;
}
#mainGridA {
  grid-area: A;
  background-color: orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a_categories {
  position: absolute;
  top: 30px;
  left: 0;
}
#mainGridB {
  grid-area: B;
  background-color: #ff565c;
  padding: 0 26px;
}
#mainGridB > h2 {
  margin-bottom: 20px;
}
#mainGridC {
  grid-area: C;
}
#mainGridD {
  grid-area: D;
}
#mainGridE {
  grid-area: E;
  background-color: orange;
}
#mainGridF {
  grid-area: F;
  background-color: orange;
}
#mainGridG {
  grid-area: G;
  background-color: orange;
}

.contents {
  max-width: 593px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
